* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --background: rgb(233, 233, 233);
}

.comfortaa-font {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr min(6fr, 80vh);
  font-family: "Comfortaa", sans-serif, Arial, Helvetica;
  background-color: var(--background);
}

.sidebar {
  grid-row: 1 / 3;
  background-color: lightblue;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 3px 3px gray;
  margin-bottom: 5px;
}

.nav > ul {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

#settings {
  grid-row: 8;
}

#support {
  grid-row: 9;
}

#privacy {
  grid-row: 10;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-bottom: 0;
}

.search {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-top: 0;
}

.profile2 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  align-items: center;
}

.large-profile {
  grid-row: 1 /3;
}

.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.left-main {
  grid-row: 1 / 3;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: calc(100% - 37px);
  row-gap: 10px;
}

.announcements {
  display: grid;
  grid-template-rows: auto 1fr;
}
.announcement-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.announcement {
  min-width: 235px;
  border-bottom: 1px solid gray;
}
.announcement:last-child {
  border-bottom: none;
}

.Trending {
  display: grid;
  grid-template-rows: auto 1fr;
}

.activity-container {
  height: auto-fill;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  margin: 5px;
}

.activity {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.profile-image {
  grid-row: 1 / 4;
}

.card {
  position: relative;
}

.card-links {
  position: absolute;
  bottom: 10px;
  right: 5px;
}

img {
  height: 50px;
  width: 50px;
}

.profile-image {
  border-radius: 50%;
  object-fit: cover;
}

.large-profile {
  border-radius: 50%;
  object-fit: cover;
  height: 65px;
  width: 65px;
  margin-right: 20px;
}

.card,
.container {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  margin-top: 0;
  padding: 5px;
  box-shadow: 3px 3px 3px gray;
}

.card {
  border-left: 10px solid orange;
}

.label {
  font-size: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-top: 10px;
}
.card-label {
  font-size: 20px;
  padding: 5px;
  padding-top: 10px;
}

h2 {
  font-size: 16px;
  padding: 10px;
  padding-bottom: 5px;
}

a > img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.announcement > p {
  padding: 10px;
  padding-top: 0;
}

.nav-item,
.logo {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 900;
  font-size: 20px;
}
.logo-image {
  margin: 10px;
}

.nav-image {
  height: 30px;
  width: 30px;
  margin: 15px;
}

.search-image, 
.notification {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-right: 25px;
}

#search {
  width: 600px;
  padding: 5px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: var(--background);
}

#search:focus,
#search:active {
  outline: none;
}

.name {
  font-weight: 900;
  margin-left: 25px;
  margin-right: 15px;
}

.id {
  font-size: 24px;
  font-weight: 900;
}

.username,
.action {
  margin-left: 10px;
}

.light-text {
  color: gray;
}

.small-text {
  font-size: 12px;
}

.card-content {
  padding: 5px;
}

.button {
  font-family: "Comfortaa", sans-serif, Arial, Helvetica;
  font-size: 14px;
  font-weight: 800;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  margin-left: 10px;
  border: none;
  background-color: lightblue;
}